---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Badge">
  <div class="header">
    <a href="#" class="logo">trbadges.INFO</a>
    <div class="header-right">
      <a href="https://trials.report/">TrialsReport</a>
      <a href="http://discord.gg/trialsreport"
        ><i class="fa-brands fa-discord" style="color: #ffffff;"></i></a
      >
    </div>
  </div>
  <!--
  <div class="badge badge--">
    <span></span>
  </div>
-->
  <div class="badge-container">
    <div class="badge badge--vip">
      <span>Developer</span>
    </div>
    <div class="badge badge--vip">
      <span>Twitter Guy</span>
    </div>
    <div class="badge badge--blm">
      <span>BLM</span>
    </div>
    <div class="badge badge--powerful-friend">
      <span>Powerful Friend</span>
    </div>
    <div class="badge badge--advisor">
      <span>Advisor</span>
    </div>
    <div class="badge badge--bff">
      <span>BFF</span>
    </div>
    <div class="badge badge--donator">
      <span>Donator</span>
    </div>
    <div class="badge badge--rocket">
      <span>Rocket</span>
    </div>
    <div class="badge badge--bordered badge--sherpa">
      <span class="badge__title">Sherpa</span>
      <span class="badge__amount">&nbsp;x1</span>
    </div>
    <div class="badge badge--bordered badge--super-sherpa">
      <span class="badge__title">Sherpa</span>
      <span class="badge__amount">&nbsp;x100</span>
    </div>
    <div class="badge badge--challenger">
      <span>Challenger</span>
    </div>
    <div class="badge badge--challenger">
      <span>Prevailer</span>
    </div>
    <div class="badge badge--legend">
      <span>Legend</span>
    </div>
    <div class="badge badge--centurion">
      <span>Centurion</span>
    </div>
    <div class="badge badge--santa">
      <span class="badge__title">Sant</span>
      <span class="badge__animated-border"></span>
    </div>
    <div class="badge badge--ghost">
      <span>Ghost</span>
    </div>
    <div class="badge badge--model">
      <span>Model</span>
    </div>
    <div class="badge badge--icon">
      <span>co</span>
    </div>
    <div class="badge badge--charity">
      <span>Breathtaking</span>
    </div>
    <div class="badge badge--mathematician">
      <span>Mathematician</span>
    </div>
    <div class="badge badge--adventurer">
      <span>Adventurer</span>
    </div>
    <div class="badge badge--historian">
      <span>Historian</span>
    </div>
    <div class="badge badge--matey">
      <span>Matey</span>
    </div>
    <div class="badge badge--nostalgic">
      <span>Nostalgic</span>
    </div>
    <div class="badge badge--charity">
      <span>Sublime</span>
    </div>
    <div class="badge badge--charity">
      <span>Generous</span>
    </div>
    <div class="badge badge--charity">
      <span>Wonderful</span>
    </div>
    <div class="badge badge--saint">
      <span>Saint</span>
    </div>
    <div class="badge badge--charity">
      <span>Awesome</span>
    </div>
    <div class="badge badge--charity">
      <span>Animal</span>
    </div>
    <div class="badge badge--charity">
      <span>A-Day</span>
    </div>
    <div class="badge badge--charity">
      <span>Amazing</span>
    </div>
    <div class="badge badge--charity">
      <span>Beast</span>
    </div>
    <div class="badge badge--charity">
      <span>Badass</span>
    </div>
    <div class="badge badge--charity">
      <span>John Cena</span>
    </div>
    <div class="badge badge--charity">
      <span>Kael</span>
    </div>
    <div class="badge badge--charity">
      <span>PB79</span>
    </div>
    <div class="badge badge--charity">
      <span>1UP</span>
    </div>
    <div class="badge badge--prismatic">
      <span class="badge__title">Prismatic</span>
      <span class="badge__animated-border"></span>
    </div>
    <div class="badge badge--glorious">
      <span>Glorious</span>
    </div>
    <div class="badge badge--angel">
      <span>Angel</span>
    </div>
    <div class="badge badge--golden-angel">
      <span>Angel</span>
    </div>
    <div class="badge badge--charity">
      <span>Flawless</span>
    </div>
    <div class="badge badge--golden-flawless">
      <span>Flawless</span>
    </div>
    <div class="badge badge--incredible">
      <span>Incredible</span>
    </div>
    <div class="badge badge--champion-base badge--bordered">
      <span class="badge__title">Champion</span>
    </div>
    <div class="badge badge--champion-hunter badge--bordered">
      <span class="badge__title">Champion</span>
    </div>
    <div class="badge badge--champion-warlock badge--bordered">
      <span>Champion</span>
    </div>
    <div class="badge badge--champion-titan badge--bordered">
      <span>Champion</span>
    </div>
    <div class="badge badge--golden-champion-base">
      <span class="badge__title">Champion</span>
      <span class="badge__animated-border"></span>
    </div>
    <div class="badge badge--golden-champion-hunter">
      <span class="badge__title">Champion</span>
      <span class="badge__animated-border"></span>
    </div>
    <div class="badge badge--golden-champion-warlock">
      <span class="badge__title">Champion</span>
      <span class="badge__animated-border"></span>
    </div>
    <div class="badge badge--golden-champion-titan">
      <span class="badge__title">Champion</span>
      <span class="badge__animated-border"></span>
    </div>
    <div class="badge badge--mythical badge--mythical--one">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--mythical badge--mythical--two">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--mythical badge--mythical--three">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--mythical badge--mythical--four">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--mythical badge--mythical--five">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--mythical badge--mythical--six">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--mythical badge--mythical--seven">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--mythical badge--mythical--eight">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--mythical badge--mythical--nine">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--mythical badge--mythical--ten">
      <span class="badge__title">Mythical</span>
    </div>
    <div class="badge badge--charity">
      <span>Magnificent</span>
    </div>
    <div class="badge popover badge--magnificent">
      <span>Magnificent</span>
    </div>
  </div>

  <!--

  -->
  <div class="footer">
    <div class="footer-left">
      <p>
        Made with <i class="fa-solid fa-heart" style="color: #e41b17;"></i> by rgx
        | 8th July 2024
      </p>
    </div>
    <div class="footer-right">
      <a href="/changelog"><i class="fa-solid fa-gear"></i></a>
    </div>
  </div>
</Layout>

<style>
  .header {
    overflow: hidden;
    background-color: #0f0016;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 10px;
  }

  .header a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header a:hover {
    background-color: #ddd;
    color: #0c070e;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  .header-right {
    float: right;
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .footer {
    overflow: hidden;
    background-color: #0f0016;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: 0;
  }

  .footer a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    line-height: 25px;
    border-radius: 4px;
  }

  .footer a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .footer a:hover {
    background-color: #ddd;
    color: #0c070e;
  }

  .footer a.active {
    background-color: dodgerblue;
    color: white;
  }

  .footer .footer-left p {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0;
  }

  .footer-left {
    float: left;
  }

  .footer-middle {
    float: middle;
  }

  .footer-right {
    float: right;
  }

  @media screen and (max-width: 500px) {
    .footer a {
      float: none;
      display: block;
      text-align: left;
    }
    .footer-right {
      float: none;
    }
  }

  .badge-container {
    min-height: 100vh;
  }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
  .badge {
    display: inline-block;
    font-size: 0.8em;
    padding: 0.1em 0.4em;
    border-radius: 0.5rem;
    line-height: 1.3;
    font-weight: 400;
    text-shadow: none;
    background: #ffffff;
    vertical-align: 0.05em;
    position: relative;
    border: 1px solid currentColor;
  }

  .badge__animated-border {
    display: none;
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid #172025;
  }

  .badge__animated-border:before {
    content: "";
    position: absolute;
    background: linear-gradient(
      45deg,
      #fb0094,
      #00f,
      #0f0,
      #ff0,
      red,
      #fb0094,
      #00f,
      #0f0,
      #ff0,
      red
    );
    background-size: 200%;
    width: 100%;
    height: 100%;
    animation: badge-animated-border-animation 2s linear infinite;
  }

  .badge__animated-border:after {
    content: "";
    position: absolute;
    background: #172025;
    inset: 1px;
    border-radius: 0.25rem;
  }

  @keyframes badge-animated-border-animation {
    0% {
      background-position: 0 0;
    }

    to {
      background-position: 200% 0;
    }
  }

  .badge--bordered {
    border: 1px solid currentColor;
  }

  .badge--transparent {
    background: transparent;
  }

  .badge--blm {
    background: #000;
    color: #fff;
  }

  .badge--donator {
    color: #00c853;
  }

  .badge--rocket {
    color: #7289da;
  }

  .badge--developer,
  .badge--vip {
    color: #2196f3;
  }

  .badge--sherpa {
    color: #ff6d00;
  }

  .badge--bff {
    color: #f50057;
  }

  .badge--saint {
    color: #d500f9;
  }

  .badge--santa {
    color: #388e3c;
    position: relative;
  }

  .badge--santa:before {
    content: "n";
    position: absolute;
    z-index: 1;
    color: #ff1744;
    left: 1.95rem;
    background: #fff;
  }

  .badge--santa:after {
    content: "a";
    color: #ff1744;
  }

  .badge--santa:first-letter {
    color: #ff1744;
  }

  .badge--santa.badge--transparent {
    color: #ff1744;
  }

  .badge--santa.badge--transparent:before {
    display: none;
  }

  .badge--santa.badge--bordered {
    border-color: #388e3c;
  }

  .badge--charity,
  .badge--generous {
    color: #7c4dff;
  }

  .badge--ghost {
    color: #b0bec5;
  }

  .badge--challenger {
    color: #26a69a;
  }

  .badge--challenger.badge--transparent {
    color: #00bfa5;
  }

  .badge--advisor {
    color: #f0f;
  }

  .badge--model {
    color: #4dd0e1;
  }

  .badge--angel {
    color: #7c4dff;
  }

  .badge--powerful-friend {
    color: #f0f;
  }

  .badge--historian {
    color: #9e5b40;
  }

  .badge--mathematician {
    color: #afb42b;
  }

  .badge--adventurer {
    color: #5d4037;
  }

  .badge--matey {
    color: #304ffe;
  }

  .badge--nostalgic {
    color: #9c4d0c;
  }

  .badge--prismatic {
    color: transparent;
    border-color: var(--stroke);
  }

  .badge--prismatic > .badge__title {
    background: linear-gradient(
      to right,
      #7292d9 10%,
      #35e366,
      #f4541e,
      #d823f8,
      #00bbea 90%
    );
    background-clip: text;
  }

  .popover .badge--prismatic {
    border-color: #0000001a;
  }

  .badge--icon,
  .badge--co {
    color: #651fff;
  }

  .badge--icon:before,
  .badge--co:before {
    content: "I";
    color: #f50057;
  }

  .badge--icon > span:not(.badge__animated-border),
  .badge--co > span:not(.badge__animated-border) {
    display: inline-block;
  }

  .badge--icon > span:not(.badge__animated-border):first-letter,
  .badge--co > span:not(.badge__animated-border):first-letter {
    color: #a0f;
  }

  .badge--icon:after,
  .badge--co:after {
    content: "n";
    color: #2979ff;
  }

  .badge--icon.badge--bordered.badge--transparent,
  .badge--co.badge--bordered.badge--transparent {
    background: #fff;
    border: 0;
  }

  .badge--golden-flawless {
    background: #ffd7004d;
    color: gold;
    position: relative;
  }

  .badge--golden-flawless:before {
    font-size: 0.7em;
    position: absolute;
    left: 84%;
    top: -0.2rem;
    line-height: 1;
    display: block;
    transform: translate3d(-75%, -25%, 0);
    content: "\2726";
  }

  .badge--golden-flawless:after {
    position: absolute;
    left: 100%;
    top: 0;
    line-height: 1;
    display: block;
    transform: translate3d(-75%, -25%, 0);
    content: "\2726";
  }

  .badge--golden-flawless.badge--bordered {
    color: gold;
    background: transparent;
    border-color: #ffd70080;
  }

  .badge--golden-angel {
    background: #ffd7004d;
    color: gold;
    position: relative;
  }

  .badge--golden-angel:after {
    position: absolute;
    left: calc(50% - 0.75rem);
    top: -0.25rem;
    width: 1.5rem;
    height: 0.5rem;
    border: 1px solid gold;
    border-radius: 50%;
    content: "";
  }

  .badge--golden-angel.badge--bordered {
    color: gold;
    background: transparent;
    border-color: #ffd70080;
  }

  .badge--golden-angel.badge--bordered:after {
    position: absolute;
    left: calc(50% - 1rem);
    top: -0.5rem;
    width: 2rem;
    height: 0.75rem;
    border: 1px solid gold;
    border-radius: 50%;
    content: "";
  }

  .badge--centurion {
    background: #d1c4e94d;
    color: gold;
  }

  .badge--centurion.badge--bordered {
    color: #d1c4e9;
    background: #37474f;
    border-color: #37474f;
  }

  .badge--super-sherpa.badge--super-sherpa .badge__title {
    color: #fff;
    background: #ff6f00;
  }

  .badge--super-sherpa.badge--super-sherpa .badge__amount {
    background: #ff6f0080;
    color: gold;
    opacity: 1;
  }

  .badge--super-sherpa.badge--super-sherpa.badge--bordered {
    color: #fff;
    background: #ff6f00;
    border-color: transparent;
  }

  .badge--incredible {
    position: relative;
    color: #fff;
    background: #00aeff;
    padding-left: 2.25rem;
    box-shadow: inset 0 0 0 1px #ffffff80;
    border: none;
  }

  .badge--incredible:before {
    position: absolute;
    top: -0.25rem;
    bottom: -0.25rem;
    left: -0.52rem;
    width: 3rem;
    content: "";
    background: url(../assets/Badges/planet-of-peace.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .badge--incredible.badge--bordered {
    box-shadow: none;
    border: none;
  }

  .badge--glorious {
    position: relative;
    color: #fff;
    background-image: url(https://www.bungie.net/common/destiny2_content/icons/24c64306c4970c562d26bc0e2492a882.jpg);
    background-position: -2rem center;
    background-size: auto 101%;
    background-repeat: no-repeat;
    padding-left: 2.25rem;
    box-shadow: inset 0 0 0 1px #ffffff80;
    border: none;
  }

  .badge--glorious:before {
    position: absolute;
    top: -0.25rem;
    bottom: -0.25rem;
    left: -0.52rem;
    width: 3rem;
    content: "";
    background: url(https://www.bungie.net/common/destiny2_content/icons/70fcfd016560d0a7b18e9926e7971991.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .badge--glorious.badge--bordered {
    box-shadow: none;
    border: none;
  }

  .badge--legend {
    background: #ffd7004d;
    color: gold;
  }

  .badge--legend.badge--bordered {
    color: gold;
    background: #37474f;
    border-color: #37474f;
  }

  .badge--champion-base,
  .badge--champion-titan,
  .badge--champion-hunter,
  .badge--champion-warlock {
    padding-right: 2rem;
    background-repeat: no-repeat;
    background-position: 115% center;
    background-size: auto 125%;
  }

  .badge--champion-titan {
    color: #ba353b;
    background-image: url(../assets/Badges/bg-titan.png);
  }

  .badge--champion-hunter {
    color: #3286cb;
    background-image: url(../assets/Badges/bg-hunter.png);
    background-position: 110% center;
  }

  .badge--champion-warlock {
    color: #d6a400;
    background-image: url(../assets/Badges/bg-warlock.png);
  }

  .badge--golden-champion-hunter,
  .badge--golden-champion-titan,
  .badge--golden-champion-warlock,
  .badge--golden-champion-base {
    background: #172025;
    border: none;
  }

  .badge--golden-champion-hunter.badge--bordered,
  .badge--golden-champion-titan.badge--bordered,
  .badge--golden-champion-warlock.badge--bordered,
  .badge--golden-champion-base.badge--bordered {
    box-shadow: none;
    border: none;
  }

  .badge--golden-champion-hunter.badge--bordered .badge__animated-border,
  .badge--golden-champion-titan.badge--bordered .badge__animated-border,
  .badge--golden-champion-warlock.badge--bordered .badge__animated-border,
  .badge--golden-champion-base.badge--bordered .badge__animated-border {
    inset: -1px;
  }

  .badge--golden-champion-hunter.badge--transparent,
  .badge--golden-champion-titan.badge--transparent,
  .badge--golden-champion-warlock.badge--transparent,
  .badge--golden-champion-base.badge--transparent {
    background: var(--surface);
  }

  .badge--golden-champion-hunter.badge--transparent .badge__animated-border,
  .badge--golden-champion-titan.badge--transparent .badge__animated-border,
  .badge--golden-champion-warlock.badge--transparent .badge__animated-border,
  .badge--golden-champion-base.badge--transparent .badge__animated-border {
    border-color: var(--surface);
  }

  .badge--golden-champion-hunter.badge--transparent
    .badge__animated-border:after,
  .badge--golden-champion-titan.badge--transparent
    .badge__animated-border:after,
  .badge--golden-champion-warlock.badge--transparent
    .badge__animated-border:after,
  .badge--golden-champion-base.badge--transparent
    .badge__animated-border:after {
    background: var(--surface);
  }

  .badge--golden-champion-hunter .badge__animated-border,
  .badge--golden-champion-titan .badge__animated-border,
  .badge--golden-champion-warlock .badge__animated-border,
  .badge--golden-champion-base .badge__animated-border {
    display: initial;
  }

  .badge--golden-champion-hunter .badge__title,
  .badge--golden-champion-titan .badge__title,
  .badge--golden-champion-warlock .badge__title,
  .badge--golden-champion-base .badge__title {
    position: relative;
    z-index: 1;
  }

  .badge--golden-champion-hunter,
  .badge--golden-champion-titan,
  .badge--golden-champion-warlock {
    padding-left: 2em;
  }

  .badge--golden-champion-hunter:after,
  .badge--golden-champion-titan:after,
  .badge--golden-champion-warlock:after {
    position: absolute;
    top: -5rem;
    bottom: -5rem;
    left: 0.4em;
    width: 1.35em;
    content: "";
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .badge--golden-champion-base {
    color: var(--light-foreground);
  }

  .badge--golden-champion-base .badge__animated-border:before {
    background-image: linear-gradient(
      60deg,
      #172025,
      #172025,
      #fc5f66,
      #fbb105,
      #4fb0ff,
      #172025,
      #172025,
      #172025,
      #172025
    );
  }

  .badge--golden-champion-base.badge--bordered.badge--transparent {
    color: var(--foreground);
  }

  .badge--golden-champion-titan {
    color: #fc5f66;
  }

  .badge--golden-champion-titan:after {
    background-image: url(../assets/Badges/champion-badge-titan.png);
  }

  .badge--golden-champion-titan .badge__animated-border:before {
    background-image: linear-gradient(
      60deg,
      #172025,
      #172025,
      #fc5f66,
      #ffc1c4,
      #fc5f66,
      #fc5f66,
      #fc5f66,
      #172025,
      #172025,
      #172025,
      #172025
    );
    animation-delay: 0.2s;
  }

  .badge--golden-champion-hunter {
    color: #4fb0ff;
  }

  .badge--golden-champion-hunter:after {
    background-image: url(../assets/Badges/champion-badge-hunter.png);
  }

  .badge--golden-champion-hunter .badge__animated-border:before {
    background-image: linear-gradient(
      60deg,
      #172025,
      #172025,
      #4fb0ff,
      #a1d5ff,
      #4fb0ff,
      #4fb0ff,
      #4fb0ff,
      #172025,
      #172025,
      #172025,
      #172025
    );
    animation-delay: 0.4s;
  }

  .badge--golden-champion-warlock {
    color: #fbb105;
  }

  .badge--golden-champion-warlock:after {
    background-image: url(../assets/Badges/champion-badge-warlock.png);
  }

  .badge--golden-champion-warlock .badge__animated-border:before {
    background-image: linear-gradient(
      60deg,
      #172025,
      #172025,
      #fbb105,
      #ffe3a1,
      #fbb105,
      #fbb105,
      #fbb105,
      #172025,
      #172025,
      #172025,
      #172025
    );
    animation-delay: 0.1s;
  }

  .badge--mythical {
    position: relative;
    box-shadow: inset 0 0 0 1px #ffffff4d;
    border: none;
  }

  .badge--mythical.badge--bordered {
    border: none;
  }

  .badge--mythical:before {
    z-index: 2;
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    aspect-ratio: 1/1;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .badge--mythical:after {
    z-index: 1;
    display: block;
    position: absolute;
    inset: 1px;
    content: "";
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 3px;
  }

  .badge--mythical > * {
    z-index: 3;
    position: relative;
    text-shadow:
      0px 0px 1px black,
      0px 1px 3px black;
  }

  .badge--mythical--unknown {
    color: #ffffffb3;
    background-color: #fff3;
  }

  .badge--mythical--unknown:before {
    position: initial;
    display: initial;
    content: "\fffd  ";
    color: #fffc;
  }

  .badge--mythical--one {
    color: #fff;
    background: #000;
    padding-left: 1.5em;
    padding-right: 0.5em;
  }

  .badge--mythical--one:before {
    background-image: url(../assets/Badges/mythical-one-icon.jpg);
    background-size: 120%;
  }

  .badge--mythical--one:after {
    opacity: 0.6;
    background-image: url(../assets/Badges/mythical-one-bg.jpg);
    background-size: 120%;
    background-position: right 160% center;
  }

  .badge--mythical--two {
    color: #d4dfce;
    background: #000;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .badge--mythical--two:before {
    background-image: url(../assets/Badges/mythical-two-icon.jpg);
    background-size: 100%;
  }

  .badge--mythical--two:after {
    background-image: url(../assets/Badges/mythical-two-bg.jpg);
    background-size: auto 100%;
    background-position: right center;
  }

  .badge--mythical--three {
    color: #fff3d8;
    background: #000;
    padding-left: 1.5em;
    padding-right: 1em;
  }

  .badge--mythical--three:before {
    background-image: url(../assets/Badges/mythical-three-icon.jpg);
    background-size: 100%;
  }

  .badge--mythical--three:after {
    opacity: 0.6;
    background-image: url(../assets/Badges/mythical-three-bg.jpg);
    background-size: auto 100%;
    background-position: right center;
  }

  .badge--mythical--four {
    color: #fff;
    background: #112f60;
    padding-left: 1.55em;
  }

  .badge--mythical--four:before {
    background-image: url(../assets/Badges/mythical-four-icon.jpg);
    background-size: 100%;
  }

  .badge--mythical--four:after {
    opacity: 1;
    background-image: url(../assets/Badges/mythical-four-bg.jpg);
    background-size: 100% 100%;
    background-position: right center;
  }

  .badge--mythical--five {
    color: #fff;
    background: #c04442;
    padding-left: 1.4em;
  }

  .badge--mythical--five:before {
    background-image: url(../assets/Badges/mythical-five-icon.jpg);
    background-size: 120%;
    aspect-ratio: 1/1.1;
  }

  .badge--mythical--five:after {
    opacity: 1;
    background-image: url(../assets/Badges/mythical-five-bg.jpg);
    background-size: 100% 100%;
    background-position: right center;
  }

  .badge--mythical--five > * {
    z-index: 3;
    position: relative;
    text-shadow:
      0px 0px 1px rgba(0, 0, 0, 0.5),
      0px 1px 3px rgba(0, 0, 0, 0.5);
  }

  .badge--mythical--six {
    color: #fffaec;
    background: #f4d06e;
    padding-left: 1.5em;
    padding-right: 0.5em;
  }

  .badge--mythical--six:before {
    background-image: url(../assets/Badges/mythical-six-icon.jpg);
    background-size: 100%;
  }

  .badge--mythical--six:after {
    opacity: 0.9;
    background-image: url(../assets/Badges/mythical-six-bg.jpg);
    background-size: 100% 100%;
    background-position: right center;
  }

  .badge--mythical--seven {
    color: #fff;
    background: #c62d37;
    padding-left: 1.5em;
  }

  .badge--mythical--seven:before {
    background-image: url(../assets/Badges/mythical-seven-icon.jpg);
    background-size: 110%;
  }

  .badge--mythical--seven > * {
    z-index: 3;
    position: relative;
    text-shadow: none;
  }

  .badge--mythical--eight {
    color: #fff;
    background-image: url(../assets/Badges/mythical-eight-bg.jpg);
    background-size: cover;
    background-position: left center;
    padding-left: 1.5em;
  }

  .badge--mythical--eight:before {
    background-image: url(../assets/Badges/mythical-eight-icon.jpg);
    background-size: 100%;
  }

  .badge--mythical--eight > * {
    z-index: 3;
    position: relative;
    text-shadow: none;
  }

  .badge--mythical--nine {
    color: #fff;
    background-image: url(../assets/Badges/mythical-nine-bg.jpg);
    background-size: cover;
    background-position: left center;
    padding-left: 1.4em;
  }

  .badge--mythical--nine:before {
    background-image: url(../assets/Badges/mythical-nine-icon.jpg);
    background-size: 110%;
  }

  .badge--mythical--nine > * {
    z-index: 3;
    position: relative;
    text-shadow: none;
  }

  .badge--mythical--ten {
    color: #fff;
    background: #bfbfbf;
    padding-left: 1.6em;
    box-shadow: inset 0 0 0 1px #46485fcc;
  }

  .badge--mythical--ten:before {
    background-image: url(../assets/Badges/mythical-ten-icon.jpg);
    background-size: 100%;
  }

  .badge--mythical--ten > * {
    z-index: 3;
    position: relative;
    text-shadow:
      0px 0px 2px rgba(70, 72, 95, 0.9),
      0px 0px 4px rgba(70, 72, 95, 0.6);
  }

  .badge--magnificent {
    position: relative;
    overflow: inherit;
    box-shadow: inset 0 0 0 1px #fff6;
    background-color: transparent;
  }

  .badge--magnificent > * {
    z-index: 1;
    position: relative;
    opacity: 0.4;
  }

  .badge--magnificent:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url(../assets/Badges/hellmo.gif);
    background-size: cover;
    background-position: bottom center;
    border-radius: 0.5rem;
    overflow: inherit;
  }

  .badge--magnificent:hover:before,
  .popover .badge--magnificent:before {
    background-image: url(../assets/Badges/hellmo.gif);
  }

  .badge--magnificent:hover > *,
  .popover .badge--magnificent > * {
    opacity: 0.8;
    color: #ffffff;
  }

  .popover .badge--magnificent {
    color: transparent;
  }
</style>
